body{

    font-family: 'Open Sans', sans-serif;
    line-height: 3pt;
    margin-left: 5%;
    margin-right: 5%;
    position: relative;

}

h1, h2, h3, h4, h5, h6{

    font-family: "Montserrat", sans-serif;

}

p{
    font-family: 'Open Sans', sans-serif;
}

/*svg displays set to none */

#steps-img{
    display: none;
}

#white-background{
    display: none;
}

#footersvg{
    display: none;
}

#smartlab-white{
    display: none;
}

#image-container{
    position: absolute;
    top:0;
    right: 0;
    z-index: -50;
}

.backgroundsvg{

    width: 100%;

}

header{
    width: 80%;
    margin: 0 auto;
    max-width: 1440px;
}



#text{
    display: flex;
    justify-content: flex-end;
}

#contact-top{
    display: flex;
    margin-left: 50px;
    color:#999ca1;
    margin-top: 30px;
}

#languageForm{
    margin-left: 20px;
    margin-right: 20px;
    float: right;
}
#languageForm label{
    color: #999ca1;
}
.language-selected{
    color: white !important;
}

.language{
    opacity: 1;
    margin-top: 35px;
    font-family: "Montserrat", sans-serif;
}


#meni-div{

    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1440px;
}

#logosvg{
    margin-top: 0;
    width: 200px;
}

#xls-title{
    line-height: 0 !important;
    color: #ffb04e;
}

#row-div{

    width: 80%;
    max-width: 1440px;
    margin: 8% auto;
    display: flex;
    margin-bottom: 20px;
}

#titlediv{
    font-size: 40pt;
    margin-bottom: 15px;
}

#xls-title{

    color:#ffb353;
    font-size: 18pt;
    margin-top: 0 !important;
    font-style: normal;
}

#title-div-container{

    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 240px;
    margin-top: 80px;
}

#subtext-regular{
    font-size: 12pt;
    text-align: right;
    margin: auto 0;
}

#playvideobtn{
    display: flex;
    width: 180px;
    margin: auto 0;
}

#text-sigup{
    width: 80%;
    margin: 0 auto;
    display: flex;
    max-width: 1440px;
}

#text-content{
    width: 60%;
    font-size: 14pt;
}



.list-c{

    list-style: none;

}
#list-main{
    padding-left: 0;
}
#list-main li::before{

    content: "\2022";
    color: black;
    opacity: 50%;
    font-size: 30px;

}

#action-div {

    margin-left: 150px;
    z-index: 100;
    
}

#button-cont{

    display: flex;

}

.switch-button {

    z-index: 100;
    height: 80px;
    width: 200px;
}

.active {

    background: #4A86FA !important;
    color: #fff !important;
}

#reg-button{

    background: #e5e8ec;
    color: #a2a8cb;
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    margin-right: 0;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: all 0.5s ease-in-out;
}

#log-button {

    background: #e5e8ec;
    color: #a2a8cb;
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    margin-left: 0;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.blue-title {

    font-family: "Montserrat", sans-serif !important;
    font-size: 16pt;
    color: #4A86FA;

}

#must-login{

    color:red;
    display: none;
    font-size: 14pt;
    font-weight: 500;
}

#must-register{

    color:red;
    display: none;
    font-size: 14pt;
    font-weight: 500;
}

#text-content-p{

    margin-top: 50px;

}

.line {

    width: 400px;
    border: none;
    border: 1px solid #a2a8cb;
    margin-bottom: 30px;
}

.input {

    width: 400px;
    height: 40px;
    border: 2px solid #a2a8cb;
    font-size: 16pt;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;

}

.input-active{

    border: 3px solid #4a86fa;
    height: 50px;
    transition: all 0.3s ease-in-out;
}

.backgroundsvg2{

    width: 2300px;
    margin-left: -10%;

}

#image-container-background{

    position: absolute;
    z-index: -50;
    margin-top: 50px;

}

.process-title{

    text-align: center;
    position: relative;
    top: 250px;
}

#steps-container{

    display: flex;
    position: relative;
    margin: 0 auto;
    margin-top: 0px;
    width: 80%;

}

#image-container-steps{

    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 250px;
    display: flex;
    justify-content: space-evenly;

}

#dots1{

    margin-top: 100px;

}

#download-image{

    margin-top: 150px;

}

#download{

    margin-top: 80px;

}

#dots2{

    margin-top: 0px;

}

#ready-image{

    margin-top: 80px;

}

#ready{

    margin-top: 100px;

}

#dots3{

    margin-top: 100px;

}

.process-class{

    width: 20%;
    margin: 30px auto;

}

.process-class{

    text-align: center;
    font-size: 14pt;

}

.process-steps{
    font-size: 16pt;
}

.process-text{

    width: 80%;
    margin: 0 auto;
    font-size: 14pt;
    opacity: 0.8;

}

#orange-image-container{

    float: right;
    margin-right: -100px;
    

}

#demo-container-background{

    margin-top: -200px;
    float:left;
    margin-left: -200px;
    z-index: -50;
}

.demo-image-svg{

    position: absolute;
    z-index: -100;
}

#text-before-steps{

    margin-top: 350px;
    font-size: 16pt;
    text-align: center;
    font-weight: 600;

}

#demo-container{
    background: white;
    z-index: 50;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 80%;
    max-width: 1440px;
    margin-top: 100px;
}

#left-half{
    margin-left: 0;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

#right-half{

    width: 50%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 40px;
    border-radius: 20px;
}

.step-header{

    margin-top: 80px;
    margin-left: 80px;
    font-size: 18pt;
    font-family: "Montserrat", sans-serif;
    color: #4885fa;

}

.step-text{
    font-family: "Montserrat", sans-serif;
    margin-left: 80px;
    margin-right: 80px;
    font-size: 12pt;
}

#download-text{

    color: #4885fa;
    font-size: 10pt;

}

.upload-btn{

    background: #4a86fa;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    margin-top:10px;
    margin-left: 80px;
    border: none;
    width: 30%;
    height: 60px;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    font-weight: 500;
}

.upload-btn:hover{
    background: #fff;
    color: #4a86fa;
    transition: all 0.3s ease-in-out;
    border: 2px solid #4a86fa;
    font-weight: 500;
}

.upload-xls-btn{

    background: #14213D;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    margin-top:10px;
    margin-left: 80px;
    border: none;
    width: 30%;
    height: 60px;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    font-weight: 500;

}

.upload-xls-btn:hover{

    background: #fff;
    color: #14213D;
    transition: all 0.3s ease-in-out;
    border: 2px solid #14213D;
    font-weight: 500;

}


#multiselect{
    position: relative;
    margin-left: 80px;
    margin-bottom: 80px;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    font-family:  "Montserrat", sans-serif;
    border-color:#4885fa;
}

select[multiple]{
    height:auto;
}

.submit {

    background: #4a86fa;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    margin-top:30px;
    border: none;
    float: right;
    width: 200px;
    height: 80px;
    border-radius: 40px;
    transition: all 0.3s ease-in-out;
}

#multiselect-container{

    display: flex;
}

#send-btn{

    background: #14213D;
    float: right;
    margin-top: 120px;
    margin-left: 120px;
    margin-right: 40px;
    transition: all 0.3s ease-in-out;
}

#send-btn:hover{

    background-color: #fff;
    color:#14213D;
    border: 2px solid #14213D;
    transition: all 0.3s ease-in-out;

}


.msvalue{
    padding: 5px;
    padding-left: 20px;
    
}

#xlf-upload-label-id{

    height: 200px;
    background-color: rgba(74, 134, 250, 0.3);
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border: 2px dashed;
    border-color: #4A86FA;
    border-radius: 15px;

    text-align: center;
    transition: 1s;
}

#xlf-upload-label-id:hover{
    background-color: rgba(74, 134, 250, 0.5);
    border: 2px solid;
    border-color: #4A86FA;
    transition: 1s;
}

.uploadtext-big{
    color: #4A86FA;
    font-size: 12pt;
    font-weight: bold;

}

.uploadtext-small{

    font-size: 10pt;
    color: rgb(0,0,0,0.5);

}

#xlfupload{

    opacity: 0;
    width: 100%;
    z-index: 10;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#xls-upload-label-id{

    height: 200px;
    background-color: rgba(74, 134, 250, 0.3);
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border: 2px dashed;
    border-color: #4A86FA;
    border-radius: 15px;

    text-align: center;
    transition: 1s;
}

#xls-upload-label-id:hover{
    background-color: rgba(74, 134, 250, 0.5);
    border: 2px solid;
    border-color: #4A86FA;
    transition: 1s;
}


#xlsupload{

    opacity: 0;
    width: 100%;
    z-index: 10;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#userdiv-container{

    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;

    width: 300px;
    height: 200px;

}

#userdiv{

    margin-left: 20px;
    margin-right: 20px;
}

.usertext{

    font-family: "Montserrat", sans-serif;

}

#logoutbtn{

    margin-left: 5px;
    margin-right: 5px;
    width: 120px;
    height: 40px;
    color: white;
    background-color: #4A86FA;
    border: none;
    border-radius: 10px;

    transition: 1s;

}

#logoutbtn:hover{

    width: 120px;
    height: 40px;
    color: #4A86FA;
    background-color: #fff;
    border: 1px solid #4A86FA;
    border-radius: 10px;

    transition: 1s;

}

#button-container{

    display: flex;

}

#downloadxlf{

    height: 80px;
    width: 200px;

    margin-left: 80px;
    color:#fff;
    background-color: #4A86FA;
    border: none;
    font-size: 12pt;
    font-family: "Montserrat", sans-serif;

    border-radius: 40px;

    margin-top: 15px;
    margin-bottom: 50px;

    transition: 1s;
}

#downloadxlf:hover{

    border: 2px solid;
    border-color: #4A86FA;
    background-color: #fff;
    color: #4a86fa;
    transition: 1s;
}