body{

    font-family: 'Open Sans', sans-serif;
    line-height: 3pt;
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    font-weight: 100;

}

h1, h2, h3, h4, h5, h6{

    font-family: "Montserrat", sans-serif;

}

p{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    letter-spacing: 0px;
}

/*svg displays set to none */

#steps-img{
    display: none;
}

#white-background{
    display: none;
}

#footersvg{
    display: none;
}

#smartlab-white{
    display: none;
}


.backgroundsvg{

    position: absolute;
    top: 0;
    right: 0;
    z-index: -100;
    width: 70%;

}


#text{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

#contact-top{
    display: flex;
    margin-left: 20px;
    color:#999ca1;
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
}


#logosvg{
    margin-top: 0;
    height: 30px;
}


#row-div{

    width: 90%;
    max-width: 1440px;
    margin: 8% auto;
    margin-top: 12%;
    display: flex;
    margin-bottom: 20px;
}

#titlediv{
    font-size: 2.5em;
    margin-bottom: 25px;
}

#xls-title{

    line-height: 0 !important;
    color:#ffb353;
    font-size: 14pt;
    margin-top: 0 !important;
    font-style: normal;
}

#title-div-container{

    display: flex;
    justify-content: space-around;
    flex-basis: 35%;
    margin-left: 120px;
    margin-top: 20px;
}

#subtext-regular{
    font-size: 12pt;
    text-align: right;
    margin: auto 0;
}

#playvideobtn{
    display: flex;
    width: 180px;
    margin: auto 0;
}

#text-sigup{
    width: 90%;
    margin: 0 auto;
    display: flex;
    max-width: 1440px;
    justify-content: space-between;
}

#text-content{
    width: 60%;
    font-size: 14pt;
}



.list-c{

    list-style: none;
    line-height: 1.3;
    font-family: "Source Sans Pro";

}
#list-main{
    padding-left: 0;
}
#list-main li::before{

    content: "\2022";
    color: black;
    opacity: 50%;
    font-size: 30px;

}

#action-div {

    margin-left: 150px;
    height: 500px;
    margin-top: 100px;
    
}

#button-cont{

    display: flex;

}

.switch-button {

    height: 80px;
    width: 200px;
}

.active {

    background: #4A86FA !important;
    color: #fff !important;
}

#reg-button{

    background: #e5e8ec;
    color: #a2a8cb;
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    margin-right: 0;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: all 0.5s ease-in-out;
}

#log-button {

    background: #e5e8ec;
    color: #a2a8cb;
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    margin-left: 0;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.blue-title {

    font-family: "Montserrat", sans-serif !important;
    font-size: 16pt;
    color: #4A86FA;

}

#must-login{

    color:red;
    display: none;
    font-size: 14pt;
    font-weight: 500;
}

#must-register{

    color:red;
    display: none;
    font-size: 14pt;
    font-weight: 500;
}

#text-content-p{

    margin-top: 50px;

}

.line {

    width: 400px;
    border: none;
    border: 1px solid #a2a8cb;
    margin-bottom: 30px;
}

.input {

    width: 400px;
    height: 40px;
    border: 2px solid #a2a8cb;
    font-size: 16pt;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;

}

.input-active{

    height: 50px;
    transition: all 0.3s ease-in-out;
}

.backgroundsvg2{

    width: 2300px;
    margin-left: -10%;

}

#image-container-background{

    position: absolute;
    z-index: -50;
    margin-top: 50px;

}

.process-title{

    text-align: center;
    position: relative;
    top: 250px;
}

#steps-container{

    display: flex;
    position: relative;
    margin: 0 auto;
    margin-top: 0px;
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;

}

#image-container-steps{

    width: 68%;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 250px;
    display: flex;
    justify-content: space-evenly;

}

#dots1{

    margin-top: 100px;

}

#download-image{

    margin-top: 150px;

}

#download{

    margin-top: 80px;

}

#dots2{

    margin-top: 0px;

}

#ready-image{

    margin-top: 80px;

}

#ready{

    margin-top: 100px;

}

#dots3{

    margin-top: 100px;

}

.process-class{

    width: 20%;
    margin: 40px auto;

}

.process-class{

    text-align: center;
    font-size: 14pt;

}

.process-steps{
    font-size: 16pt;
}

.process-text{

    width: 90%;
    margin: 0 auto;
    font-size: 14pt;
    opacity: 0.8;

}

#orange-image-container{

    float: right;
    margin-right: -100px;
    

}

#demo-container-background{

    margin-top: -200px;
    float:left;
    margin-left: -200px;
    z-index: -50;
}

.demo-image-svg{

    position: absolute;
    z-index: -100;
}

#text-before-steps{

    margin-top: 350px;
    font-size: 16pt;
    text-align: center;
    font-weight: 600;

}

#a-button{
    height: 0;
    margin-left: 0px;
}

#demo-container{
    background: transparent;
    z-index: 50;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 90%;
    max-width: 1440px;
    margin-top: 360px;
    margin-bottom: 150px;
}

#left-half{
    margin-left: 0;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    background-color: white;
}

#right-half{
    position: relative;
    width: 50%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 40px;
    border-radius: 20px;
}
.info-message{
    background: transparent;
    position: absolute;
    margin-right: 50px;
    left: 50px;
    transform: translateY(250%);
}
.step-header{

    margin-top: 80px;
    margin-left: 80px;
    font-size: 18pt;
    font-family: "Montserrat", sans-serif;
    color: #4885fa;

}

.step-text{
    font-family: "Source Sans Pro", sans-serif;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 50px;
    font-size: 12pt;
    font-weight: 600 !important;
}

#download-text{

    color: #4885fa;
    font-size: 10pt;

}

.upload-btn{

    background: #4a86fa;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    margin-top:10px;
    margin-left: 80px;
    border: none;
    width: 30%;
    height: 60px;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    font-weight: 500;
}

.upload-btn:hover{
    background: #fff;
    color: #4a86fa;
    transition: all 0.3s ease-in-out;
    border: 2px solid #4a86fa;
    font-weight: 500;
}

.upload-xls-btn{

    background: #14213D;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    margin-top:10px;
    margin-left: 80px;
    border: none;
    width: 30%;
    height: 60px;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    font-weight: 500;

}

.upload-xls-btn:hover{

    background: #fff;
    color: #14213D;
    transition: all 0.3s ease-in-out;
    border: 2px solid #14213D;
    font-weight: 500;

}


#multiselect{
    position: relative;
    margin-left: 80px;
    margin-bottom: 80px;
    width: 200px;
    height: 200px;
    border-radius: 20px 0px 0px 20px;
    font-family:  "Montserrat", sans-serif;
    border-color:#4885fa;
}

select[multiple]{
    height:auto;
}

.submit {

    background: #4a86fa;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    margin-top:30px;
    border: none;
    float: right;
    width: 200px;
    height: 80px;
    border-radius: 40px;
    transition: all 0.3s ease-in-out;
}

.submit:hover{

    background: #fff;
    color: #4a86fa;
    transition: all 0.3s ease-in-out;
    border: 2px solid #4a86fa;
}

#multiselect-container{

    display: flex;
    width: 100%;
}

#send-btn{

    background: #14213D;
    float: right;
    margin-top: 120px;
    margin-left: 80px;
    transition: all 0.3s ease-in-out;
}

#send-btn:hover{

    background-color: #fff;
    color:#14213D;
    border: 2px solid #14213D;
    transition: all 0.3s ease-in-out;

}

.msvalue{
    padding: 5px;
    padding-left: 20px;
    
}

#xlf-upload-label-id{

    height: 200px;
    background-color: rgba(74, 134, 250, 0.1);
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border: 2px dashed;
    border-color: rgba(74, 134, 250, 0.9);
    border-radius: 15px;

    text-align: center;
    transition: 1s;
}

#xlf-upload-label-id:hover{
    background-color: rgba(74, 134, 250, 0.4);
    border: 2px solid;
    border-color: rgba(74, 134, 250, 0.9);
    transition: 1s;
}

.uploadtext-big{
    color: #4A86FA;
    font-size: 12pt;
    font-weight: bold;

}

.uploadtext-small{

    font-size: 10pt;
    color: rgb(0,0,0,0.5);

}

#xlfupload{

    opacity: 0;
    width: 100%;
    z-index: 10;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#xlfupload:hover{
    cursor: pointer;
}

#xls-upload-label-id{

    height: 200px;
    background-color: rgba(74, 134, 250, 0.1);
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border: 2px dashed;
    border-color: rgba(74, 134, 250, 0.9);
    border-radius: 15px;

    text-align: center;
    transition: 1s;
}

#xls-upload-label-id:hover{
    background-color: rgba(74, 134, 250, 0.4);
    border: 2px solid;
    border-color: rgba(74, 134, 250, 0.9);
    transition: 1s;
}


#xlsupload{

    opacity: 0;
    width: 100%;
    z-index: 10;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#userdiv-container{

    margin-top: 30px;

    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;

    width: 500px;
    height: 200px;
    background-color: white;

}

#userdiv{

    margin-left: 20px;
    margin-right: 20px;
}

.usertext{

    font-family: "Montserrat", sans-serif;
    font-size: 10pt;

}

#logoutbtn1{

    margin-left: 0px;
    margin-right: auto;
    width: 200px;
    height: 80px;
    color: white;
    background-color: #4A86FA;
    border: none;
    border-radius: 40px;

    font-size: 12pt;

    transition: 0.5s;

}

#logoutbtn2{

    margin-left: 0px;
    margin-right: auto;
    width: 200px;
    height: 80px;
    color: white;
    background-color: #14213D;
    border: none;
    border-radius: 40px;

    font-size: 12pt;

    transition: 0.5s;

}


#logoutbtn1:hover{

    color: #4A86FA;
    background-color: #fff;

    transition: 0.5s;

}

#logoutbtn2:hover{

    color: #14213D;
    background-color: #fff;

    transition: 0.5s;

}

#button-container{

    background-color: #fff;
    display: flex;

}

#downloadxlf{

    height: 80px;
    width: 200px;

    margin-left: 80px;
    color:#fff;
    background-color: #4A86FA;
    border: none;
    font-size: 12pt;
    font-family: "Montserrat", sans-serif;

    border-radius: 40px;

    margin-top: 15px;
    margin-bottom: 50px;

    transition: 1s;

    background-image: "public\ass\new_ass\sendIcon.svg";
}

#downloadxlf:hover{

    border: 2px solid;
    border-color: #4A86FA;
    background-color: #fff;
    color: #4a86fa;
    transition: 1s;
}

button:hover{
    cursor: pointer;
}

#send-img-btn{

    width: 20px;
    fill: #fff;
    margin-left: 30px;
    transition: 1s;

}

#send-btn:hover #send-img-btn{

    fill:#14213D;
    transition: 1s;

}

.text-input{

    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 600;
    font-size: 12pt;

}


span{

    font-family: "Montserrat", sans-serif !important;
    line-height: 1.2 !important;

}

.process-images-small{

    display: none;

}

@media screen and (max-width:1200px){

    .backgroundsvg{
        width: 110%;
        margin-right: -5%;
    }

    #title-div-container{

        display: none !important;
    }

    #titlediv{
        font-size: 2.2em !important;
        width: 60%;
        margin-top: 140px;
    }

    .nav-logo-container span{
        color: black !important;
    }

    #text-content-p{

        margin-top: 10px !important;

    }

    .action-class{
        display: flex;
        flex-direction: column !important;
        align-items: flex-start !important;
        width: 100%;
        margin-left: 0 !important;
    }

    #text-sigup{
        flex-direction: column;
        width: 100%;
    }

    #text-content{
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;

    }

    #login-page{
        margin: 0 auto;
    }

    #registration-page{
        margin: 0 auto;
    }

    #button-cont{
        margin: 0 auto;
    }

    #demo-container{

        flex-direction: column;
    }

    #left-half{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    #right-half{
        width: 100%;
        margin: 0 auto;
        margin-top: 50px;
    }

    .info-message{
        text-align: center;
        margin: 0 auto !important;
        left: 0;
        position: relative;
    }

    #action-div{
        margin-left: 0;
    }

    #userdiv-container{
        margin: 0 auto;
    }

    /* Login */
    .line{
        width: 100px;
        margin-left: 5%;
    }

    .input{
        width: 300px;
        margin-left: 5%;
    }

    .text-input{
        margin-left: 5%;
    }

    .blue-title{
        margin-left: 5%;
    }

    .switch-button{
        width: 160px;
    }

    #action-div{
        height: 600px;
    }

    .submit{
        margin-right: 5%;
    }

    /* Process */

    .process-title{
        margin: 0 auto;
    }

    #image-container-steps{
        display: none;
    }

    #steps-container{
        flex-direction: column;
        width: 100%;
        margin-top: 250px;
    }

    .process-class{
        width: 90%;
        margin-top: 0 !important;
    }

    .process-images-small{
        display: block;
        margin: 0 auto;
        width: 150px;
    }

    #image-container-background{
        margin-top: 160px;
    }

    .backgroundsvg2{
        width: 3200px;
    }

    /*app*/
    #multiselect-container{
        display: flex;
        flex-direction: column;
    }

    #multiselect{
        width: 60%;
        margin-bottom: 140px;
    }  

    #send-btn{
        float: left;
        margin-top: -120px;

    }

    #demo-container{
        margin-top: 0;
        margin-left: 5%;
    }

    /* Footer */
    

    @media screen and (-webkit-min-device-pixel-ratio:0){  
        .browsesvg
        {
            margin-top: -15px;
        }

        .uploadtext-small{

            margin-top: -25px;

        }

        .uploadsvg{

            margin-top: -45px

        }

        .uploadtext-big{
            font-size: 10pt;
            width: 80%;
            margin-left: 10%;
            margin-bottom: 30px;
        }

        #multiselect{

            height: 30px;

        }
    }


}